body{
	width: 100%;
	height: 100%;
	margin: auto;
}
html{
	width: 100%;
	height: 100%;
}
.navbar{
	background-color: #000e24;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.links{
	position: relative;
	font-family: raleway;
	font-size: 16px;
	float: right;
}
.links a{
    padding: 10px;
}
.btn-info{
	background-color: #ffde00;
	color: #000e24;
	border-radius: 5px;
}
a{
	color:white ;
	display: inline;
}
a:hover{
	color: #ffde00;
	text-decoration: underline;
}
.fa-search{
	color: white;
}
h2{
	color: white;
	font-size: 28px;
} 
p, li{
	color: white; 
	font-family: raleway;
	font-size: 20px;
}
h1{
	color: #000e24;
	font-family: raleway;
	text-align: center;
}
.jumbotron{
	background-color: #000e24;
}
}
.busy{
	width: 100%;
	height: 100%;
}

footer{
	background-color: #22292c;
}
.icons{
	color: white;
	margin-left: 45%;
	font-size: 30px;
}
.pic{
	margin-left: 20%;
	margin-top: -10%; 
}
.copy{
	background-color: #000000;
	text-align: center;
	font-size: 16px;
}
h3 {
	color: #000e24;
	font-family: raleway;
	font-size: 20px;
}
h4{
	color: white;
	font-family: raleway;
	font-size: 20px;
	text-align: center;
}
#social{
	color: #000e24;
	font-size: 30px;
}


