.navbar{
	background-color: #000e24;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.links{
	font-family: 'raleway';
	font-size: 16px;
	margin-left: 45%;
}
.btn-info{
	background-color: #ffde00;
	color: #000e24;
	border-radius: 5px;
}
a{
	color: white;
}
a:hover{
	color: #ffde00;
	text-decoration: underline;
}
.fa-search{
	color: white;
}
.pop{
	margin-left: 1%;
}
.btn-info{
	border-color: transparent;
}
.btn-info:hover{
	background-color: #000e24;
	border-color: transparent;
}
table{
	border: 2px solid #000e24;
	border-radius: 5px;
	color: #000e24;
	font-size: 18px;
	margin-left: 28%;
}
th,td{
	border: 3px solid #000e24;
	border-radius: 5px;
	color: #000e24;
}
.call-btn{
	color: #000e24;
	background-color:#ffde00 
	border-color: transparent;
}
.call-btn:hover{
	background-color:#000e24; 
	color: #ffde00;
}
footer{
	background-color: #22292c;
}
.icons{
	color: white;
	margin-left: 45%;
	font-size: 30px;
}
.pic{
	margin-left: 20%;
	margin-top: -10%;
}
.copy{
	background-color: #000000;
	font-size: 16px;
}

h4{
	color: white;
	font-family: raleway;
	text-align: center;
	font-size: 20px;
}