.navbar{
	background-color: #000e24;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.links{
	font-family: 'raleway';
	font-size: 16px;
	margin-left: 45%;
}
.btn-info{
	background-color: #ffde00;
	color: #000e24;
	border-radius: 5px;
}
a{
	color: white;
}
a:hover{
	color: #ffde00;
	text-decoration: underline;
}
.fa-search{
	color: white;
}
.pop{
	margin-left: 1%;
}
.btn-info{
	border-color: transparent;
}
.btn-info:hover{
	background-color: #000e24;
	border-color: transparent;
}
.block{
	background: url('../Images/new vip.jpg');
	position: relative;
	background-repeat: no-repeat;
	width: 100%;
	height: 450px;
	background-size: cover;
	background-position: center;
}
h1{
	margin-left: 30%;
	font-family: 'raleway';
	font-weight: bold;
	color: white;
}
h6{
	color: white;
	font-family: raleway;
	font-weight: bold;
	margin-left: 40%;
}
p{
	color: white;
	font-family: raleway;
	margin-left: 80%;
}
label{
	color: white;
}
.action{
	margin-left: 27%;
	margin-top: 18%;
	background-color: transparent;
}
.call-btn{
	color: #000e24;
	text-align: center;
	border-color: transparent;
}
.call-btn:hover{
	border-color: transparent;
}
h2{
	color: #000e24;
	text-align: center;
	text-decoration: underline;
}
h3,h5{
	font-family: raleway;
	color: #000e24;
	font-size: 18px;
}
footer{
	background-color: #22292c;
}
.icons{
	color: white;
	margin-left: 45%;
	font-size: 30px;
}
.pic{
	margin-left: 20%;
	margin-top: -10%;
}
.copy{
	background-color: #000000;
	font-size: 16px
}
.hey{
	margin-top: -30%;
}
h4{
	color: white;
	font-family: raleway;
	text-align: center;
	font-size: 20px;
}
/*responsive style
@media screen and (max-width : 760px){
	/*make dropdown links appear inline
	ul{
		position: static;
		display: none;
	}
	/*create vertical spacing
	li{
		margin-bottom: 1px;
	}*/
	/*make all menu links full width
	ul li, li a{
		width: 100%;
	}*/
